.social-icons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #f2f2f2;
  border-radius: 50%;
  color: #111;
  font-size: 18px;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  background-color: #b42323; /* couleur pro */
  color: white;
  transform: scale(1.1);
}
